
body{
    overflow-x: hidden;
    background-color: white;
}

h1 { /* Bodoni */
    font-family: bodoni-urw,serif;
    font-weight: 500;
    font-style: normal;
}


h2 { /* Semi-Bold */
    font-family: gill-sans-nova,sans-serif;
    font-weight: 600;
    font-style: normal;
}

h3 { /* Book */
    font-family: gill-sans-nova,sans-serif;
    font-weight: 400;
    font-style: normal;
}

h4 { /* Light */
    font-family: gill-sans-nova,sans-serif;
    font-weight: 300;
    font-style: normal;
}


.navbar {
    background: #182F13;
}

.navbar a {
    color: white;
    font-size: 18px;
}

.navbar a:hover{
    color: rgb(177, 177, 177);
}

.HomeSplash {
    position: relative;
    margin-bottom: 20px;
}

.Welcome {
    position: absolute;
    color: white;
    top: 50px;
    width: 100%;
    text-align: center;
    font-size: 60px;
}

#CalendarHome {
    background: #70CBA9;
}

#TextBox {
    margin-left: 10vmin;
    margin-right: 10vmin;
}

#StoreBanner {
    color: white;
    background-color: #CB7086;
}

footer {
    background: #182F13; 
    color: white; 
}

